.Rproj.user/E01B5245/pcs/files-pane.pper
.Rproj.user/E01B5245/pcs/source-pane.pper
.Rproj.user/E01B5245/pcs/windowlayoutstate.pper
.Rproj.user/E01B5245/pcs/workbench-pane.pper
.Rproj.user/E01B5245/rmd-outputs
.Rproj.user/E01B5245/saved_source_markers
.Rproj.user/E01B5245/sources/prop/6579EC3C
.Rproj.user/E01B5245/sources/prop/6FF8882C
.Rproj.user/E01B5245/sources/prop/D7BD7180
.Rproj.user/E01B5245/sources/prop/INDEX
.Rproj.user/E01B5245/sources/session-ca3899f0/1A208658
.Rproj.user/E01B5245/sources/session-ca3899f0/1A208658-contents
.Rproj.user/E01B5245/sources/session-ca3899f0/DB0D9B87
.Rproj.user/E01B5245/sources/session-ca3899f0/DB0D9B87-contents
.Rproj.user/E01B5245/sources/session-ca3899f0/E2D4A054
.Rproj.user/E01B5245/sources/session-ca3899f0/E2D4A054-contents
.Rproj.user/E01B5245/sources/session-ca3899f0/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
